body{
	background-color: white;
	font: "sans-serif";
	padding-left: 10%;
}
p{
	font-size: x-large;
}
h1{
	padding-left: 400px;
}

h2{
	padding-left: 550px;
}

.boxed {
	border: 1px solid green ;
	width:fit-content;
	background-color: aquamarine;
  }

#mapintro{
	padding-left: 60px;
}

#lineintro{
	padding-left: 60px;
}

#donutintro{
	padding-left: 60px;
}

#barintro{
	padding-left: 60px;
}

#suc,#sup,#sue,#q,#qs{
	color: red;
}

#fail{
	color: rgba(2, 46, 19, 0.575);
}

#assgn2 {
	left: 10px;
}
#barchart{
	padding-left: 60px;
}	

#title{
	text-align: center;

}

#author {
	font-size: large;
}

#titleheader{
	font-size: 50px;
}

.vega-bindings{
	padding-left: 60px;
}